---
import Markdown from 'astro/components'
import DefaultPageLayout from '$/layouts/default.astro'
import Prose from '$/components/Prose.astro'

const title = 'About';
const description = 'About James Perkins';
---
<DefaultPageLayout content={{ title, description }}>
    <Prose>
        <Markdown>
            James provides web development educational courses for both beginners and intermediate developers, the focus of the content is JavaScript and JAMStack. Almost all of the tutorials and courses can be found for free on YouTube.James also writes blog posts and streams live on Twitch. You might even see him at conferences on stage given talks.

            <div class="author">
                <div>
                    James Perkins //
                    [@james_r_perkins](https://twitter.com/james_r_perkins)  //
                    [GitHub](https://github.com/perkinsjr) // 
                    [YouTube](https://youtube.com/c/learntocodewithjames)
                </div>
            </div>
        </Markdown>
    </Prose>
</DefaultPageLayout>

<style>
    .author {
        @apply flex flex-col w-full
    }
</style>
