---
import DefaultPageLayout from '$/layouts/default.astro'
import PostPreviewList from '$/components/PostPreviewList.astro'


const title = 'Home'
const description = 'Blog for James Perkins'

const posts = Astro.fetchContent('./post/*.md')
const sortedPosts = posts.sort((a, b) => new Date(b.date) - new Date(a.date));
---
<DefaultPageLayout content={{ title, description }} showPageHeader={false}>
    <PostPreviewList posts={sortedPosts} />
    <div class="page__actions">
        <a class="action__go-to-blog" href="/post" title="All Posts">All Posts &rarr;</a>
    </div>
</DefaultPageLayout>

<style>
    .page__actions {
        @apply flex justify-center md:justify-end py-6
    }
    .action__go-to-blog {
        @apply text-base uppercase hover:underline
    }
</style>
